name: Terraform Pipeline

on:
  push:
    paths:
      - "**/*.tf"
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout step
        uses: actions/checkout@v4

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.4

      - name: Verify Terraform
        run: terraform version

      - name: Test step
        run: echo "Pipeline works"
